.header-custom .navbar{
    background:transparent;
    padding-top:12px;
    padding-bottom:10px;
    color:#000;
    border-radius:0;
    box-shadow:none;
    border:none;
}

.header-custom .navbar .navbar-brand{
    font-weight:bold;
    color:inherit;
}

.header-custom .navbar .navbar-collapse p{
    margin-top:10px;
    margin-bottom:0;
}

.header-custom .navbar .navbar-toggle{
    border-color:rgba(255,255,255,0.3);
}

.header-custom .navbar .navbar-toggle:hover, .header-custom .navbar-toggle:focus{
    background:none;
}

.header-custom .navbar .navbar-toggle .icon-bar{
    background-color:#eee;
}

.header-custom .navbar .navbar-collapse, .header-custom .navbar .navbar-form{
    border-color:rgba(255,255,255,0.3);
}

.header-custom .navbar .navbar-form label{
    color: #aaaaaa;
}

.header-custom .navbar .navbar-form .search-field{
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    transition:border-bottom-color 0.3s;
}

.header-custom .navbar .navbar-form .search-field:focus{
    border-bottom:1px solid #ccc;
}

.panel-title {
    display: inline;
}

#ajax-container {
    min-height: 100vh;
}

.footer {
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .select-version{
        width: auto;
        display: inline-block;
    }
}

@media (max-width:767px) {
    .header-custom .navbar{
        padding-top:0;
        padding-bottom:0;
    }
    .header-custom .navbar .navbar-header{
        padding-top:10px;
        padding-bottom:10px;
    }
    .header-custom .navbar .navbar-right{
        margin-bottom:20px;
    }
    .header-custom .navbar .navbar-form .search-field{
        display:inline-block;
        width:80%;
    }
}

